.viewIcon, .editIcon, .delete_icon{
    cursor: pointer;
}
.deleteTitle{
    font-size: 20px;
    color: red;
    font-weight: 600;
}
.deleteName{
    font-size: 18px;
    font-weight: 600;
}
.save_btn_add{
    height: 35px;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    background: #1976cf;
    color: #ffffff;
    font-weight: 600;
    border: none;
    font-size: 15px;
  }